      <!-- ======= About Us Section ======= -->
      <section id="about" class="about bg-white">
        <div class="container">
          
          <div class="section-title">
            <h2>Seating Arrangements</h2>
          </div>
          
          <div class="row">
            <div class="col-lg-8 order-1 order-lg-2">
              <img src="/assets/img/ordination_seating_arr.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-4 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>
                Seating arrangements for the Priestly Ordination
              </h3>
              <p class="fst-italic">
                Please take note of the following seating arrangements. Ushers will be on hand to guide you to your seat.
                <br>
                All attendees are kindly asked to follow the direction of ushers and other security personnel on the day of the ordination.
              </p>
            </div>
          </div>
          
        </div>
      </section><!-- End About Us Section -->