      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          
          <div class="section-title">
            <h2>About The Church</h2>
          </div>
          
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>
                Welcome to St. Bakhita Catholic Church; the fortunate one.
              </h3>
              <p class="fst-italic">
                Located in the heart of Lashibi, we are a Christian family inspired by the virtue of our patron saint,
                Bakhita, founded on the virtues of love, charity and unity.
                We uphold Catholic principles and teachings, promote respect, love for humanity 
                and service to the community, and above all, Christ-likeness.
              </p>
              <p class="d-none d-lg-block">
                The church was born from the need to accommodate and bring God closer to the 
                flourishing faithful of Lashibi and its environs. 
                Since its founding in 2005 as an out-station of Corpus Christi Catholic Church, Sakumono,
                it has grown significantly. 
              </p>
              <p>
                After over 15 years, Saint Bakhita Catholic Church now boasts a membership 
                of over 1,000 people, a vibrant choir and brass band, children's service 
                and an active youth front.
              </p>
              <p class="d-none d-lg-block">
                Members of the church serve the faithful and the community through Day Groups, ministries and several societies.
              </p>
              <a href="#documents/a-brief-history-of-the-church" class="btn btn-dark">Read More ...</a>
            </div>
          </div>
          
        </div>
      </section><!-- End About Us Section -->