        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">
              
              <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                  <h1 class="">Accra Archdiocese Priestly Ordination 2024</h1>
                  <p>
                    This year's priestly ordination took place at St Bakhita Parish on Saturday 24th August 2024.
                  </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                  <a class="cta-btn align-middle" href="/ordination">
                    Learn More <i class="bi bi-spotify d-none"></i>
                  </a>
                </div>
              </div>
              
            </div>
          </section><!-- End Cta Section -->