        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta d-none">
            <div class="container">
              
              <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                  <h1 class="">Bakhita Harvest 2023</h1>
                  <p>
                    Help us complete our rectory project.
                  </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                  <a class="cta-btn align-middle" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSee9zlEcLujEKh0-gqMvdq_F_8d29tfNLnl0Zewwidq5Dygpw/viewform">
                    Fill Online Pledge Form <i class="bi bi-chevron-compact-right"></i>
                  </a>
                </div>
              </div>
              
            </div>
          </section><!-- End Cta Section -->