<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">        
        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>Accra Archdiocese Priestly Ordination 2024</h3>
                <p class="lead">
                    Welcome to the official web page of the 2024 Priestly Ordination of the Accra Archdiocese
                </p>
                <p>
                    The ordination of 16 candidates took place at St Bakhita Parish, Lashibi on 24th August 2024. Kindly return to this page for details of the event.
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="https://heyzine.com/flip-book/0357d414a9.html" target="_blank">Read Brochure <i class="bi bi-book-half"></i></a>
                <a class="cta-btn align-middle d-none" href="https://ogateway.io/pay/donate-to-st-bakhita-parish"><i class="bi bi-heart"></i> Donate Now<i class="bi bi-chevron-right"></i></a>
            </div>
        </div>         
    </div>
</section><!-- End Cta Section -->