<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">        
        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>Accra Archdiocese Priestly Ordination 2024</h3>
                <p class="lead">
                    Welcome to the official web page of the 2024 Priestly Ordination of the Accra Archdiocese
                </p>
                <p>
                    The ordination of 16 candidates will take place at St Bakhita Parish, Lashibi on 24th August 2024. Kindly return to this page for details of the upcoming event.
                </p>
                <p>
                    Media accreditation is ongoing. All media persons who wish to cover the ordination ceremony should kindly submit their details <a href="https://forms.gle/1Akx7CRU8QHUHNj19" target="_blank" style="text-decoration: underline;">at this link</a>.
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center d-none">
                <a class="cta-btn align-middle" href="#">Donate <i class="bi bi-chevron-down"></i></a>
            </div>
        </div>         
    </div>
</section><!-- End Cta Section -->