      <!-- ======= Modal Dialog Section ======= -->
      <div class="modal fade" id="modalDialog" tabindex="-1" aria-labelledby="modalDialogLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header d-none">
              <h1 class="modal-title fs-5" id="modalDialogLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" target="_blank" href="https://forms.gle/XvasBbj7RVsLBuSu9">Submit Mass Intention <i class="bi bi-box-arrow-up-right"></i></a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://forms.gle/6a4ngF1H5u3trrfAA">Request Baptism <i class="bi bi-box-arrow-up-right"></i></a>
              </ul>
            </div>
            <div class="modal-footer d-none">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div><!-- End Modal Dialog Section -->