<!-- ======= Life at Bakhita Section ======= -->
<section id="life-at-bakhita" class="portfolio">
	<div class="container">		
		<div class="section-title">
			<h2>Previously at Laudamus</h2>
		</div>	
		<div class="d-none row">
			<div class="col-lg-12 d-flex justify-content-center">
				<ul id="portfolio-flters">
					<li data-filter="*" class="filter-active">All</li>
					<li data-filter=".filter-app">App</li>
					<li data-filter=".filter-card">Card</li>
					<li data-filter=".filter-web">Web</li>
				</ul>
			</div>
		</div>
		<div id="galleryApp" class="row portfolio-container">
			<div v-for="item in gallery" class="col-lg-4 col-md-6 portfolio-item filter-app">
				<div class="portfolio-wrap">
					<img :src="item.imageSrc || item.src" class="img-fluid" :alt="item.title">
					<div class="portfolio-info">
						<h4>[[ item.title ]]</h4>
						<p>[[ item.subTitle ]]</p>
						<div class="portfolio-links">
							<a :href="item.src" data-gallery="portfolioGallery" class="portfolio-lightbox" :title="item.title"><i class="bi bi-plus-lg"></i></a>
							<a :class="{'d-none': !item.externalLink}" target="_blank" :href="item.externalLink" title="More Details"><i class="bi bi-link-45deg"></i></a>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>
</section><!-- End Life at Bakhita Section -->