<!-- ======= Header Events ======= -->
<header id="header" class="d-flex align-items-center">
	<div class="container d-flex align-items-center">
		<a href="/" class="logo me-auto"><img src="/assets/img/header-logo.png" alt="" class="img-fluid"></a>
		<!-- <h1 class="logo me-auto"><a href="index.html">St Bakhita</a></h1> -->	
		<nav id="navbar" class="navbar">
			<ul>
				<!-- <li><a class="d-none d-lg-block getstarted" href="https://www.youtube.com/@sbcclashibi/streams">LIVE STREAM <i class="bi bi-box-arrow-up-right"></i></a></li> -->
			</ul>
		</nav><!-- .navbar -->	
	</div>
</header><!-- End Header -->