<!-- ======= Hero Section ======= -->
<section id="hero">
	<div class="row justify-content-center">
        <div class="col-md-6">
            <img src="/assets/img/laudamus-logo.png" class="img-fluid" alt="Laudamus logo">
            <h1 id="countdown" class="text-center d-none">loading...</h1>
            <div class="event-details text-center">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="bi bi-calendar3 text-warning"></i> Sunday 21st May, 2023
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-geo-alt text-warning"></i> St Bakhita Catholic Church, Lashibi
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-clock text-warning"></i> 5pm
                </li>
              </ul>
              <button type="button" class="btn btn-light btn-lg mx-3 my-1">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-7_grin9e8jwVAJGFpPJJ0NOuRB_CLpERZMwhyzaq7Iq7uw/viewform?usp=sf_link" target="_blank">
                  Sign Up to Volunteer
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </button>
              <button type="button" class="btn btn-warning btn-lg mx-3 my-1">
                <a href="https://forms.gle/JkNhy6KCYJYcRonz6" target="_blank">
                  Pre-Order T-Shirts
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </button>
              
            </div>
        </div>
    </div>
    <div class="row justify-content-center px-4">
    </div>
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("May 21, 2023 17:00:00").getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get today's date and time
          var now = new Date().getTime();
        
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
        
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
          // Display the result in the element with id="demo"
          document.getElementById("countdown").innerHTML = days + " days to go...";
        //   document.getElementById("countdown").innerHTML = days + " days " + hours + " hours "
        //   + minutes + " mminutes " + seconds + "s ";
        
          // If the count down is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "Thank You!";
          }
        }, 1000);
    </script>
</section><!-- End Hero -->