<!-- ======= Hero Section ======= -->
<section id="hero">
	<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel"> 
		<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
		<div id="slideInnerContainer" class="d-none carousel-inner" role="listbox">
            <div v-for="(it, index) in items" :key="index" :class="index === 0 ? 'carousel-item active' : 'carousel-item'" class="carousel-item" :style="{backgroundImage: 'url(' + it.src + ')'}">
            	<div class="carousel-container">
                	<div class="container">
						<h1 class="display-1 animate__animated animate__fadeIn animate__fast">[[ it.title ]]</h1>
                		<p class="display-6 animate__animated animate__fadeIn animate__fast">[[ it.subTitle ]]</p>
            		</div>
            	</div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        	<span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        	<span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</section><!-- End Hero -->