<!-- ======= Hero Section ======= -->
<section id="hero" style="min-height: 337px; max-height: 450px;">
	<div class="row justify-content-center">
        <div class="col-md-7">
            <img src="/assets/img/events-bg.jpg" class="img-fluid d-none" alt="Ordination logo">
            <h1 class="display-1 text-center">Priestly Ordination 2024</h1>
            <p class="text-center display-6">Accra Archdiocese<p>
            <h1 id="countdown" class="text-center">loading...</h1>
            <div class="event-details text-center d-none">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="bi bi-calendar3 text-warning"></i> Saturday 24th August, 2024
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-geo-alt text-warning"></i> St Bakhita Catholic Church, Lashibi
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-clock text-warning"></i> 0930hrs GMT
                </li>
              </ul>
              <button type="button" class="btn btn-light btn-lg mx-3 my-1 d-none">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-7_grin9e8jwVAJGFpPJJ0NOuRB_CLpERZMwhyzaq7Iq7uw/viewform?usp=sf_link" target="_blank">
                  Sign Up to Volunteer
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </button>
              <button type="button" class="btn btn-warning btn-lg mx-3 my-1 d-none">
                <a href="https://forms.gle/1Akx7CRU8QHUHNj19" target="_blank">
                  Media Accreditation Form 
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </button>
              
            </div>
        </div>
    </div>
    <div class="row justify-content-center px-4">
    </div>
    <script>
        // Set the date we're counting down to 
        var countDownDate = new Date("August 24, 2024 09:30:00").getTime();
        var countDownElement = document.getElementById("countdown");
        
        // Update the count down every 1 second
        var x = setInterval(function() {

         var relativeTime = moment(countDownDate).fromNow();
         countDownElement.innerHTML = relativeTime;
        
        }, 1000);
    </script>
</section><!-- End Hero -->