        <!-- ======= Leadership Section ======= -->
        <section id="leadership" class="team section-bg">
            <div class="container">
              
              <div class="section-title">
                <h2>Church Leadership</h2>
                <p>A body without a head is incomplete so is an organization without any form of leadership. 
                  The church's leadership is centered around the parish priest, who presides over a Pastoral Council 
                  made up of members of the community. Their task is to ensure the smooth running of St Bakhita Parish.</p>
              </div>
              
              <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/francis.webp" alt="">
                    <h4>Pope Francis</h4>
                    <span>Head of the Roman Catholic Church</span>
                    <p>
                      Cardinal Jorge Mario Bergoglio, SJ, was elected pope on 13th March 2013
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/kabore.jpg" alt="">
                    <h4>Archbishop. Julien Kaboré</h4>
                    <span>Apostolic Nuncio to Ghana</span>
                    <p>
                      Archbishop. Julien Kaboré was appointed Titular Archbishop of Milevi and Apostolic Nuncio to Ghana by Pope Francis on 29 June 2024.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/kwofie.jpg" alt="">
                    <h4>Archbishop John Bonaventure Kwofie</h4>
                    <span>Metropolitan Archbishop of Accra</span>
                    <p>
                      His Grace Bonaventure Kwofie was installed as the Archbishop of Accra on March 1, 2019, in Accra
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/hillary.jpg" alt="">
                    <h4>Rev Fr Hillary Agbenosi</h4>
                    <span>Parish Priest</span>
                    <p>
                      Fr. Hillary joined St. Bakhita as its first rector in the year of its dedication, 2018. He became the church's inaugural parish priest on 11th February 2024.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/james.jpg" alt="">
                    <h4>Rev Fr James Gyekye Danso</h4>
                    <span>Parochial Vicar, St Bakhita Catholic Church</span>
                    <p>
                      Fr. James joined St. Bakhita as its first assistant priest in 2023.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/joycelyn.jpg" alt="">
                    <h4>Parish Pastoral Council</h4>
                    <p>
                      The current PPC assumed its term of office in 2025. It is currently headed by Mrs. Joycelyn Esiape.
                    </p>
                  </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/xorse.jpg" alt="">
                    <h4>Parish Youth Council</h4>
                    <p>
                      The Youth Council, headed by Mr. Francis Xorse Kwashigah, 
                      represents the interests and guides the energies of the youth of the church
                      towards the greater good of the community.
                    </p>
                  </div>
                </div>
                
              </div>
              
            </div>
          </section><!-- End Leadership Section -->