        <!-- ======= Leadership Section ======= -->
        <section id="leadership" class="team section-bg">
            <div class="container">
              
              <div class="section-title">
                <h2>Church Leadership</h2>
                <p>A body without a head is incomplete so is an organization without any form of leadership. 
                  The church's leadership is centered around the priest in charge, who presides over a Pastoral Council 
                  made up of members of the community. Their task is to ensure the smooth running of St Bakhita Catholic Church.</p>
              </div>
              
              <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/francis.webp" alt="">
                    <h4>Pope Francis</h4>
                    <span>Head of the Roman Catholic Church</span>
                    <p>
                      Cardinal Jorge Mario Bergoglio, SJ, was elected pope on 13th March 2013
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/jagodziński-2.jpg" alt="">
                    <h4>Archbishop Henryk Mieczysław Jagodziński</h4>
                    <span>Apostolic Nuncio to Ghana</span>
                    <p>
                      Archbishop Henryk was appointed as titular archbishop of Limosano and Apostolic Nuncio to Ghana by Pope Francis on 3rd May 2020.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/kwofie.jpg" alt="">
                    <h4>Archbishop John Bonaventure Kwofie</h4>
                    <span>Metropolitan Archbishop of Accra</span>
                    <p>
                      His Grace Bonaventure Kwofie was installed as the Archbishop of Accra on March 1, 2019, in Accra
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/hillary.jpg" alt="">
                    <h4>Rev Fr Hillary Agbenosi</h4>
                    <span>Rector, Priest in Charge</span>
                    <p>
                      Fr. Hillary joined St. Bakhita as its first rector in the year of its dedication, 2018.
                    </p>
                  </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/nafrah.jpg" alt="">
                    <h4>Church Pastoral Council</h4>
                    <p>
                      The current CPC assumed its term of office in 2023. It is currently headed by Mr Nafrah.
                    </p>
                  </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="assets/img/team/bataka.jpg" alt="">
                    <h4>Church Youth Council</h4>
                    <p>
                      The Youth Council, headed by Ms Rebecca Bataka, 
                      represents the interests and guides the energies of the youth of the church
                      towards the greater good of the community.
                    </p>
                  </div>
                </div>
                
              </div>
              
            </div>
          </section><!-- End Leadership Section -->