      <!-- ======= Ministries Section ======= -->
      <section id="ministries" class="services">
        <div class="container">
          
          <div class="section-title">
            <h2>Ministries</h2>
          </div>
          
          <div class="row">
            
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <img src="assets/img/ministries/choir.jpg" class="img-fluid" alt="">
                <h4><a href="">Bakhita Choir</a></h4>
                <p>Psalm 34: 1, “I will praise the Lord at all times. I will constantly speak His praises.” 
                  Singing praises to the Lord is what the choir exists for.</p>
                  <br>
                  <p>Bakhita Choir; with angels, we sing!</p>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <img src="assets/img/ministries/knolta.jpg" class="img-fluid" alt="">
                  <h4><a href="">KNOLTA</a></h4>
                  <p>The Knights of the Altar are dedicated youths whose mission is to help the priest 
                    make the Mass and other liturgical celebrations worthy celebrations to the greater glory of God.</p>
                  <br>
                  <p>KNOLTA; At Your service, Lord.</p>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <img src="assets/img/ministries/ushers.jpg" class="img-fluid" alt="">
                  <h4><a href="">Ushers</a></h4>
                  <p>“Let all things be done decently and in order.”; 1 Corinthians 14:40. 
                    Maintaining order and ensuring that the sanctity of Mass and other liturgical celebrations is sustained, 
                    is the responsibility of this group of amiable people.</p>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <img src="assets/img/ministries/lectors.jpg" class="img-fluid" alt="">
                  <h4><a href="">Lectors</a></h4>
                  <p>The Word is the pivot around which the Christian faith revolves, 
                    for this, it is important that God’s people hear and understand His word. It is the duty of the lectors to serve the church with God’s word.</p>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <img src="assets/img/ministries/bakhita_arts.jpg" class="img-fluid" alt="">
                  <h4><a href="">Bakhita Arts</a></h4>
                  <p>Bakhita Arts harnesses the creativity of the church's youth to help animate our 
                    liturgies and provide upliftment to the community
                  </p>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <img src="assets/img/ministries/brass_band.jpg" class="img-fluid" alt="">
                  <h4><a href="">Bakhita Brass Band</a></h4>
                  <p>The Brass Band provides music for liturgical and social events. 
                    It has grown to be a sought-after band within the Accra Archdiocese.</p>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <img src="assets/img/ministries/marian_choir.jpg" class="img-fluid" alt="">
                  <h4><a href="">Marian Choir</a></h4>
                  <p>The Marian choir is a singing ministry for children. 
                    It aims to equip the youngest members of the community with the skills and discipline
                    needed to become full-fledged choristers.</p>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <img src="assets/img/blank.png" class="img-fluid" alt="">
                  <h4><a href="">Charismatic Renewal</a></h4>
                  <p>The Charismatic Renewal is a confraternity geared towards enkindling 
                    and rekindling the fire of the faith in the faithful.</p> 
                </div>
              </div>
              
            </div>
            
          </div>
        </section><!-- End Ministries Section -->