      <!-- ======= Schedules and Upcoming Events Section ======= -->
      <section id="schedules-events" class="schedules-events">
        <div class="container">
          
          <div class="section-title">
            <h2>Schedules &amp; Upcoming Events</h2>
          </div>

          <div class="row">

            <!-- Pills -->
            <ul class="nav nav-pills nav-fill mb-3 p-1" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link schedule-pill active" id="pills-masses-tab" data-bs-toggle="pill" data-bs-target="#pills-masses" type="button" role="tab" aria-controls="pills-masses" aria-selected="true">Masses</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link schedule-pill" id="pills-lent-tab" data-bs-toggle="pill" data-bs-target="#pills-lent" type="button" role="tab" aria-controls="pills-lent" aria-selected="false">Lenten Observances</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link schedule-pill" id="pills-events-tab" data-bs-toggle="pill" data-bs-target="#pills-events" type="button" role="tab" aria-controls="pills-events" aria-selected="false">Upcoming Events</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link schedule-pill" id="pills-sacraments-tab" data-bs-toggle="pill" data-bs-target="#pills-sacraments" type="button" role="tab" aria-controls="pills-sacraments" aria-selected="false">Sacraments</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">

              <!-- Masses -->
              <div class="tab-pane fade show active" id="pills-masses" role="tabpanel" aria-labelledby="pills-masses-tab" tabindex="0">
                <div class="list-group col-md-6">
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Sunday Morning Mass</h5>
                      <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">First Mass at 7:00am, Second Mass at 9:30am</p>
                    <small class="text-muted">
                      Mass schedules are valid unless otherwise announced.
                      <a href="#" data-bs-toggle="modal" data-bs-target="#modalDialog" data-bk-type="memberFormsModal">
                        Click here to submit a mass intention.
                      </a>
                    </small>
                  </li>
                  <li class="list-group-item list-group-item-action d-none">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Weekday Evening Mass</h5>
                      <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">Every Tuesday at 7:00pm</p>
                    <!-- <small>And some small print.</small> -->
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Weekday Morning Mass</h5>
                      <!-- <small class="text-muted">3 days ago</small> -->
                    </div>
                    <p class="mb-1">Monday to Friday at 6:00am</p>
                    <small class="text-muted">The Blessed Sacrament will be exposed on Wednesday morning for private adoration.</small>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Grotto Mass</h5>
                      <!-- <small class="text-muted">3 days ago</small> -->
                    </div>
                    <p class="mb-1">Every Saturday at 6:30am</p>
                    <small class="text-muted">Mass begins after 6:00am rosary prayers.</small>
                  </li>
                </div>
              </div>

              <!-- Lenten Observances -->
              <div class="tab-pane fade" id="pills-lent" role="tabpanel" aria-labelledby="pills-lent-tab" tabindex="0">
                <div class="list-group col-md-6">
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Morning Prayers</h5>
                      <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">Monday to Friday at 5:30am</p>
                    <!-- <small class="text-muted">Mass schedules are valid unless otherwise announced.</small> -->
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Evening Prayers</h5>
                      <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">Monday to Friday at 6:00pm</p>
                    <!-- <small class="text-muted">Mass schedules are valid unless otherwise announced.</small> -->
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Stations of the Cross</h5>
                      <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">Fridays at 6:00pm</p>
                    <small class="text-muted">Stations of the Cross begins after Friday evening prayers</small>
                  </li>
                </div>
              </div>

              <!-- Upcoming Events -->
              <div class="tab-pane fade" id="pills-events" role="tabpanel" aria-labelledby="pills-events-tab" tabindex="0">
                <div class="list-group col-md-6">
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Life in the Spirit Seminar</h5>
                      <!-- <small><i class="bi bi-cash-coin d-none"></i> GHS 50.00</small> -->
                    </div>
                    <p class="mb-1">Starts on Sunday, 26th March 2023 at St. Bakhita Catholic Church</p>
                    <!-- <small class="text-muted">Mass schedules are valid unless otherwise announced.</small> -->
                  </li>
                </div>
              </div>

              <!-- Sacraments -->
              <div class="tab-pane fade" id="pills-sacraments" role="tabpanel" aria-labelledby="pills-sacraments-tab" tabindex="0">
                <div class="list-group col-md-6">
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Infant Baptism</h5>
                      <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">First Saturday of every month, after Grotto Mass</p>
                    <small class="text-muted">
                      <a href="#" data-bs-toggle="modal" data-bs-target="#modalDialog" data-bk-type="memberFormsModal">
                        Click here to place a baptism request.
                      </a>
                    </small>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Confession</h5>
                      <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">By appointment with the priest in charge.</p>
                    <!-- <small>And some small print.</small> -->
                  </li>
                </div>
              </div>
            </div>              
          </div>
          
        </div>
      </section><!-- End Schedules and Upcoming Eventss Section -->