    <!-- ======= Liturgical Season and Theme Section ======= -->
    <section id="liturgical-season" class="liturgical-season">
        <div class="container">
  
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>Let all that you do be done <span>in love</span></p>
              <a class="d-none" href="#documents/test-article" 
              role="button" 
              aria-controls="articleCanvas">Click Me!</a>
            </blockquote>
            <figcaption class="blockquote-footer">
              1 Corinthians 16:14 <cite title="Source Title">ESV</cite>
            </figcaption>
          </figure>
  
        </div>
      </section><!-- End Liturgical Season and Theme -->