    <!-- ======= Liturgical Season and Theme Section ======= -->
    <section id="liturgical-season" class="liturgical-season">
        <div class="container">
  
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>Priestly Ordination</p>
            </blockquote>
            <figcaption class="">
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-calendar3 text-warning"></i> Saturday 24th August, 2024
                </li>
                <li>
                  <i class="bi bi-geo-alt text-warning"></i> St Bakhita Catholic Church, Lashibi
                </li>
                <li>
                  <i class="bi bi-clock text-warning"></i> 0930hrs GMT
                </li>
              </ul>
            </figcaption>
          </figure>
  
        </div>
      </section><!-- End Liturgical Season and Theme -->