    <!-- ======= Liturgical Season and Theme Section ======= -->
    <section id="liturgical-season" class="liturgical-season">
        <div class="container">
  
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>We wish <span>to see Jesus</span></p>
              <a class="d-none" href="#documents/test-article" 
              role="button" 
              aria-controls="articleCanvas">Click Me!</a>
            </blockquote>
            <figcaption class="blockquote-footer">
              John 12:21<cite title="Source Title"></cite>
            </figcaption>
          </figure>
  
        </div>
      </section><!-- End Liturgical Season and Theme -->