    <!-- ======= Liturgical Season and Theme Section ======= -->
    <section id="liturgical-season" class="liturgical-season">
        <div class="container">
  
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>And Hope <span>does not dissapoint us</span></p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Romans 5:5<cite title="Source Title">NIV</cite>
            </figcaption>
          </figure>
  
        </div>
      </section><!-- End Liturgical Season and Theme -->