    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
          <h3>St Bakhita Catholic Church, Lashibi</h3>
          <p>The Fortunate Ones; we are building our church!</p>
          <div class="social-links">
            <a href="https://www.youtube.com/@sbcclashibi/streams" class="youtube"><i class="bi bi-youtube"></i></a>
            <a href="https://web.facebook.com/sbcclashibi" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/bakhitayouth/" class="instagram"><i class="bi bi-instagram"></i></a>
          </div>
          <div class="copyright">
            &copy; Copyright 2023, St Bakhita Catholic Church, Lashibi. <br>All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
          </div>
        </div>
      </footer><!-- End Footer -->
      
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>