<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include sections/top_bar.html %}
        {% include sections/header.html %}
        <main id="main">
            {% include sections/reader.html %}
            {% include sections/contact.html %}
            {% include sections/canvas.html %}
            {% include sections/dialog.html %}        
        </main><!-- End #main -->
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>